* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    overscroll-behavior-y: contain;
    background-color: black;
    touch-action: none;
}
#feed {
    max-width: 480px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}
.post {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.post .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-select: none;
    transition: transform 0.3s ease;
}
.zoom-controls {
    position: fixed;
    bottom: 20px;
    left: 60%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 20px;
    z-index: 100;
    backdrop-filter: blur(10px);
}
.zoom-controls button {
    background: none;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}


#instruction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
}
#instruction.hidden {
    opacity: 0;
    pointer-events: none;
}
/* Плавный эффект прыжка для инструкции */
@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    25% {
        transform: translate(-50%, -50%) translateY(-10px);
    }
    50% {
        transform: translate(-50%, -50%) translateY(0);
    }
    75% {
        transform: translate(-50%, -50%) translateY(-5px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}
#instruction.bounce {
    animation: bounce 1s ease-out infinite;
}